/* * {
    box-sizing: border-box;
    border: salmon solid 0.5px;
} */

.contact-form__content {
    margin: 50px auto;
    width: 60vw;
}

.contact-form__heading h2 {
    font-size: 35px;
    text-align: center;
    color: #8B7969;
}

/* フォーム表 */
.contact-form__table {
    width: 100%;
}

.contact-form__table-inner {
    width: 100%;
}

.contact-form__table-row {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form__table-label {
    color: #8B7969;
    width: 30%;
}

.contact-form__table-label span {
    color: #FF9494;
}

.contact-form__table-item {
    display: flex;
    align-items: center;
    width: 100%;
    color: #8B7969;
    padding: 5px;
}

.contact-form__table-item input,
textarea {
    background-color: #F4F4F4;
    border: none;
    color: #8B7969;
    margin-right: 20px;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}

.contact-form__table-item input {
    height:40px;
}
.contact-form__table-item span {
    margin-right: 20px;
}
.contact-form__table-item textarea {
    padding-top: 10px;
}

.contact-form__table-item-select {
    width: 100%;
    color: #8B7969;
    padding: 5px;
}

.contact-form__table-item-select select {
    height: 40px;
    width: 50%;
    background-color: #F4F4F4;
    border: none;
    color: #8B7969;
    padding-left: 10px;
}

.contact-form__table-item_gender {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.contact-form__table-item_gender input {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    border: #8B7969 solid 0.5px;
}

.contact-form__table-item_gender input:checked {
    background-color: #8B7969;
}

.contact-form__table-item_gender label {
    height: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    color: #8B7969;
}




.contact-form__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-form__button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    border: none;
    background: #8B7969;
    color: #F4F4F4;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.form__error {
    color: #ff0000;
    text-align: left;
}