/* モダール全体の表示 */
.modal-overlay {
    z-index: 1000;
}

.modal-content {
    width: 50vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: #8B7969 solid 1px;
    box-shadow: 4px 4px 2px #8B7969;
    z-index: 1001;
    /* オーバーレイよりも上に表示 */
}

/* 閉じるボタン */
.modal-close{
    display: flex;
    justify-content: right;
}
.modal-close__button {
    width: 36px;
    height: 36px;
    font-size: 24px;
    text-align: center;
    background-color: #ffffff;
    color: #8B7969;
    border: #8B7969 solid 1px;
    border-radius: 50%;
    cursor: pointer;
}


/* 詳細表示の表 */
.modal-table__table {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 20px;
    margin-bottom: 40px;
}

.modal-table__table-label {
    width: 200px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.modal-table__table-item {
    padding-bottom: 20px;
}


/* 削除ボタン */
.modal-delete{
    display: flex;
    justify-content: center;
}
.modal-delete__button {
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    background: #BA370D;
    color: #FFFFFF;
    cursor: pointer;
}